<ion-view title="Cozy Loose Turtleneck Top" id="page10">
  <ion-content padding="false" class="has-header">
    <div id="cozyLooseTurtleneckTop2-container38" class="products_container">
      <div id="cozyLooseTurtleneckTop2-container30">
        <div class="spacer" style="height: 10px;"></div>
        <h5 id="cozyLooseTurtleneckTop2-heading6" style="color:#000000;">The size of the Cozy Loose Turtleneck Top that fits best is
          <span class="best-size--color">US Size 2 (Small) </span>
        </h5>
        <div class="spacer" style="width: 729.625px; height: 27px;"></div>
        <div id="cozyLooseTurtleneckTop2-container29">
          <div class="shape-image fl">
            <img src="img/ehS3mIECT4uVF5wsxfqa_body-sizes.JPG" style="display: block; width: 122%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
        </div>
      </div>
      <div id="cozyLooseTurtleneckTop2-container39" class="fl grey-backgorund">
        <div id="cozyLooseTurtleneckTop2-markdown17" class="show-list-numbers-and-dots fl">
          <p style="color:#000000;">In the shopper's opinion, this fitting is</p>
        </div>
        <div id="cozyLooseTurtleneckTop2-markdown35" class="show-list-numbers-and-dots fr">
          <p style="color:#000000;font-size:40px;">☆</p>
        </div>
        <div id="cozyLooseTurtleneckTop2-markdown38" class="show-list-numbers-and-dots fr">
          <p style="color:#000000;font-size:40px;">☆</p>
        </div>
        <div id="cozyLooseTurtleneckTop2-markdown39" class="show-list-numbers-and-dots fr">
          <p style="color:#000000;font-size:40px;">☆</p>
        </div>
        <div id="cozyLooseTurtleneckTop2-markdown37" class="show-list-numbers-and-dots fr">
          <p style="color:#000000;font-size:40px;">☆</p>
        </div>
        <div id="cozyLooseTurtleneckTop2-markdown36" class="show-list-numbers-and-dots fr active-star">
          <p style="color:#FF0017;font-size:40px;">☆</p>
        </div>
      </div>
      <div class="spacer" style="width: 729.625px; height: 90px;"></div>
      <div id="cozyLooseTurtleneckTop2-container51" class="fl">
        <form id="cozyLooseTurtleneckTop2-form17" class="list">
          <label class="item item-input fl ml20 input" id="cozyLooseTurtleneckTop2-input24">
            <span class="input-label">Save to:</span>
            <input type="text" placeholder="Shopper's Email or Telephone">
          </label>
          <button id="cozyLooseTurtleneckTop2-button11" class="button button-positive ml20">Send Fit Details</button>
          <div class="spacer" style="width: 461.2px; height: 30px;"></div>
        </form>
      </div>
      <div id="cozyLooseTurtleneckTop2-container25" class="fl ml20 bg-grey">
        <form id="cozyLooseTurtleneckTop2-form20" class="list">
          <h5 id="cozyLooseTurtleneckTop2-heading8" style="color:#000000;">Sleeve Length</h5>
          <label class="item item-input input sleeve-length--input" id="cozyLooseTurtleneckTop2-input25" name="sleeve-length">
            <input type="number" placeholder="in">
          </label>
          <div id="cozyLooseTurtleneckTop2-markdown23" class="show-list-numbers-and-dots">
            <p style="color:#000000;">Place the hand on the hi so the arm is bent. Measure from the shoulder bone, over the elbow and down to the wrst bone to where you want the sleeve to end.</p>
          </div>
          <div class="spacer" style="width: 553.7px; height: 28px;"></div>
          <button id="cozyLooseTurtleneckTop2-button13" class="button button-positive save">Save</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>