<ion-view title="Custom Fit Order" id="page14">
  <ion-content padding="false" class="has-header">
    <div id="customFitOrder-container67" class="products_container">
      <div id="customFitOrder-container66">
        <div class="spacer" style="height: 10px;"></div>
        <h5 id="customFitOrder-heading17" style="color:#328C09;">The custom fitting order has been sent.</h5>
        <form id="customFitOrder-form29" class="list">
          <div class="spacer" style="width: 729.625px; height: 32px;"></div>
          <h5 id="customFitOrder-heading18" style="color:#000000;">Internal Order Tracking</h5>
          <div id="customFitOrder-button-bar3" class="button-bar">
            <button id="customFitOrder-button24" class="button button-stable button-block">I have an order number</button>
            <button id="customFitOrder-button29" style="color:#212121;" class="button button-light button-block tab-active">I do not have an order nmber</button>
          </div>
          <div id="customFitOrder-markdown44" class="show-list-numbers-and-dots">
            <p style="color:#000000;">So Fitasize will send a link to the shoper to add the Nerdsway order number when they receive it form you.</p>
          </div>
          <div id="customFitOrder-container65">
            <div id="customFitOrder-container64">
              <form id="customFitOrder-form27" class="list">
                <div class="spacer" style="width: 729.625px; height: 12px;"></div>
                <label class="item item-input typical-input close-to-heading registration-input" id="customFitOrder-input49" name="check-out--send-link-to">
                  <span class="input-label">Send Link To:</span>
                  <input type="text" placeholder="Email or Telephone">
                </label>
                <div class="spacer" style="width: 729.625px; height: 43px;"></div>
                <button id="customFitOrder-button30" class="button button-positive button-block">Send Order Number Link</button>
                <div class="spacer" style="width: 729.625px; height: 24px;"></div>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>