<ion-view title="Password Recovery" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="login_image">
      <img src="img/J9ZSzkccScyDuwNn1OoW_Logo.jpg" style="display: block; width: 40vw; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="passwordRecovery-container4">
      <form id="passwordRecovery-form8" class="list" name="recoveryForm">
        <div id="passwordRecovery-markdown4" class="show-list-numbers-and-dots account-number login_element">
          <p style="color:#000000;">
            <strong>Forgot Account Number or Secret Key</strong>
          </p>
        </div>
        <div id="passwordRecovery-markdown5" class="show-list-numbers-and-dots login_element">
          <p style="color:#000000;">Enter your registered seller contact detail to receive a recovery link</p>
        </div>
        <label class="item item-input input login_element" id="passwordRecovery-input9" name="user-email">
          <input type="email" placeholder="Email Address" ng-model="recoveryForm.email" ng-required="true" required="true">
        </label>
      </form>
    </div>
    <div id="passwordRecovery-container5">
      <form id="passwordRecovery-form9" class="list" name="recoveryForm">
        <label class="item item-input input login_element" id="passwordRecovery-input10" name="user-phone">
          <input type="tel" placeholder="Cell Phone" ng-model="recoveryForm.phone" ng-required="true" required="true">
        </label>
        <p class="show-list-numbers-and-dots login_element error-message" ng-show="isError">Response: {{errorMessage}}</p>
      </form>

    </div>
    <button id="passwordRecovery-button4" ng-click="recoverPassword(recoveryForm)" ng-disabled="recoveryForm.$invalid" class="button button-positive login_element start_button">Send Recovery Link</button>
    <div id="passwordRecovery-container6" class="footer creator-container"></div>
  </ion-content>
</ion-view>