<ion-view title="Products" id="page7" ng-init="viewItemList()">
  <ion-content padding="true" class="has-header">
    <div id="products-container17" class="products_container">
      <div id="products-container18">
        <form id="products-form18" class="list">
          <label class="item item-input typical-input close-to-heading registration-input half-width" id="products-search1">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search Item Name Or SKU" ng-model="produstsForm.search" ng-change="receiveProducts(productsForm)">
          </label>
          <label class="item item-select typical-input close-to-heading registration-input half-width" id="products-select5">
            <span class="input-label">Filter by</span>
            <select ng-model="productsForm.filter" ng-change="receiveProducts( productsForm )">
              <option>Featured</option>
            </select>
          </label>
        </form>
      </div>
      <div class="products-container--items" ng-repeat="product in products.data">


        <div class="product-item" style="float: left">
          <div class="product-image">
            <img src="{{ product.image_url }}" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
          </div>
          <div style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">{{ product.item_name }}
              <strong>From ${{ product.starting_price }}</strong>
            </p>
          </div>
        </div>


      </div>
      <div id="products-container73" ng-show="false" class="products-container--items">
        <div id="products-container68" class="product-item">
          <div class="product-image">
            <img src="img/CZW92fuR2OibY1YbgnWE_Product-goup.JPG" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
          </div>
          <div id="products-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">True Love Skinny Jeans
              <strong>From $49.99</strong>
            </p>
          </div>
        </div>
        <div id="products-container69" class="product-item">
          <div class="product-image">
            <img src="img/CZW92fuR2OibY1YbgnWE_Product-goup.JPG" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
          </div>
          <div id="products-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">True Love Skinny Jeans
              <strong>From $49.99</strong>
            </p>
          </div>
        </div>
        <div id="products-container70" class="product-item">
          <div class="product-image">
            <img src="img/CZW92fuR2OibY1YbgnWE_Product-goup.JPG" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
          </div>
          <div id="products-markdown46" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">True Love Skinny Jeans
              <strong>From $49.99</strong>
            </p>
          </div>
        </div>
        <div id="products-container71" class="product-item">
          <div class="product-image">
            <img src="img/CZW92fuR2OibY1YbgnWE_Product-goup.JPG" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
          </div>
          <div id="products-markdown47" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">True Love Skinny Jeans
              <strong>From $49.99</strong>
            </p>
          </div>
        </div>
        <div id="products-container72" class="product-item">
          <div class="product-image">
            <img src="img/CZW92fuR2OibY1YbgnWE_Product-goup.JPG" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
          </div>
          <div id="products-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">True Love Skinny Jeans
              <strong>From $49.99</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>